body {
    font-family: arial;
}
h1 {
    display: flex;
    justify-content: center;
}
.catalog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;
}
.card {
    height: 400px;
    width: 20%;
    display: flex;
    border: solid;
    border-radius: 3%;
    border-color: rgb(192, 192, 192);
    background-color: rgb(246, 246, 246);
    justify-content: space-around;
    flex-direction: column;
}
.picture {
    height: 250px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    border-radius: 2%;
}
h4 {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
}
.description {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
}
.button {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: rgb(60, 60, 243);
    color: white;
    border-radius: 5px;
    border-color: rgb(62, 62, 226);
    height: 40px;
}
.footer {
    margin-top: 40px;
    background-color: rgb(69, 69, 69);
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul.hr {
    margin: 0;
    padding: 0;
}
ul.hr li {
    display: inline;
    padding: 0 20px;  
}